.gallery{
  border: solid;
  border-radius: 10px;  
  margin: 0px 30px;
  margin-bottom:50px;
  display: flex;
  overflow-x:hidden;
  width:1400px;
}

.section{
  border:solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin: 0px 30px;
  margin-bottom:50px;
  width:1400px;
  height: 1200px; /* Adjust the height as needed */
  overflow-y: scroll;
}

.section .articleContainer{
  background-color: var(--deepBlue);
  margin:1em 2em;
  padding:2px;
  border-radius: 10px;
  align-self: center;
  text-align: center;
  box-shadow: 40px;
  max-width: 380px;
  min-height: 500px;
}

.section .titleYear{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 10px;
}

.section .titleYear p{
  font-size: 25px;
  color: var(--spenceBlue);
  margin: 0 10px;
}
.section .titleYear button{
    cursor:pointer;
    font-size: 25px;
    border-radius: 40px;
    background-color:var(--deepGold);  
}

.section .articleContainer img{
  border: 4px solid var(--deepBlue);
  width:350px;
  object-fit:contain;
  margin:10px;
  border-radius: 15px;
  filter: grayscale(20%);
  transition: 0.3s;
}

.section .articleContainer img:hover{
  filter:grayscale(0);
  cursor:pointer;
  transform: scale(1.1);
}


.section::-webkit-scrollbar{
  display:none;
}

.text{
  padding:10px;
  text-align: center;
  color: var(--spenceGold);
}
h4{
  color:rgb(163, 163, 159);
}
p{
  color:grey;
  word-wrap: break-word;
}


