@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Give+You+Glory&family=Handlee&family=LXGW+WenKai+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Qwitcher+Grypen:wght@400;700&display=swap');
*{
  font-family:sans-serif;
}

:root {
  --spenceGold: #dbb132;
  --spenceBlue: #244e91;
}


/* NAVBAR*/
.navbar ul{
  width: 45%;
  height:30px;
  display:flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  margin-left: 26vw;
  gap: 5em;
  margin-top:40px;
  font-size:16px;
}

/* this works to keep nav bar from having dots*/
.navbar ul li{
  cursor:pointer;
  list-style:none;
  
}

.navbar ul a{
  text-decoration: none;
  color: #000;

}
.navbar li :hover {
  opacity: 0.7;
  text-decoration: underline;
  text-underline-offset: 4px;
}


/* TOPBANNER*/
