body{
  background-color: #fff;
}

.box{
  background-color: #fff;
  margin-top:2.5em;
  margin-left: 30vw;
  text-align: center;
  border-radius: 5px;
  text-rendering:geometricPrecision;
  border: 2px dashed #000; 
  max-width: 500px;
  padding: 0 100px;

  font-size:xx-large;
  

}
 .title{
  font-family: "LXGW WenKai TC";
  font-weight: lighter;
  font-size:90px;
  letter-spacing: 0.2rem;
  font-weight:bold
  
}

.underTitle{
  color:gray;
  font-weight: lighter;
}


.gallery{
  border:solid;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  margin: 5rem;
}

.gallery .imageContainer h4{
  text-wrap:balance;


}
/* starting the articles' galleries*/

.gallery .imageContainer{
  margin:2em 2.2em;
  align-self: center;
  text-align: center;
}

img{
  border:solid;
  width:350px;
  object-fit: contain;
  border-radius: 5px;
  
}

.text{
  text-align: start;
}
h4{
  color:rgb(163, 163, 159);
}
p{
  color:grey;
}