.body{
  scroll-behavior:smooth;
}

.layeredContainer{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
  background-image: url('https://i.pinimg.com/736x/74/3f/6b/743f6b19c4cb5ca4cadcc300e1d1d08a.jpg');
  background-position: center;
  background-size:cover;
  z-index: 0;

}
.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding:30px;

}
.heroText{
  float: left;
  font-size:larger;
  text-align:left;
  left:100px;
}

.heroButton{
  background-color: var(--deepBlue);
  font-size:15px;
  color: #fff;
  padding:12px;
  height:50px;
  min-width:110px;
  border-radius:30px
}


/*START OF SCROLLBAR CSS CODE*/
.articleBar{
    transform:translateY(20%); /* margin-top:20vh; is better to use but cause text to exit height of container*/
    display:flex;
    flex-direction: column;
    background-color:var(--deepBlue);
    height: 600px;
    
    width:95vw;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    opacity: 0.90;
    position: relative;
    z-index: 1;

}

.articleBarText{
  color: var(--deepGold);
  text-align: left;
  margin-left: 70px;
  font-size: 20px;
  letter-spacing: 0.2em;
  justify-self: baseline;
  margin-right:71%;

}


.articleScrollBar {
  display:flex;
  flex-direction:row;
  position:relative;
  width: 92vw;
  overflow: scroll;
  gap:5px;
  align-items: center;

}


.articleScrollBar .scrollButton{
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--deepGold);
  border-radius: 100px;
  padding:10px;
  margin: 10px;
  cursor: pointer;
  width: auto;
  height: 50px;
  border-color: #fff;
  left:80%;
  


}


.articleScrollBar p{
  width:200px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: center;
  color: var(--spenceBlue)
}


  
.image-wrapper {
  transition: transform 0.5s ease; 
  display:flex;
  flex-direction:row;
  overflow:scroll;
  white-space: nowrap;
  position: relative;
  width:fit-content;
}
.image-wrapper img{
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding-inline:10px;
  border-radius:12px;
  object-fit: cover;
  
}

.articleDisplaySection{
  height:fit-content;
  width:100vw;
  position: relative;
}


#content-area h3{
  font-family: 'Handlee';
  color:gray;
  text-align: center;
  opacity: 0.6;

  
}