.body{
  scroll-behavior:smooth;
}

.layeredContainer{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100vw;
  background-image: url('https://i.pinimg.com/736x/74/3f/6b/743f6b19c4cb5ca4cadcc300e1d1d08a.jpg');
  background-size:contain;

}
.hero{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding:30px;
}
.heroText{
  float: left;
  font-size:larger;
  text-align:left;
  left:100px;
}

.heroButton{
  background-color: var(--deepBlue);
  font-size:15px;
  color: #fff;
  padding:12px;
  height:50px;
  min-width:110px;
  border-radius:30px
}

.articleScrollBar{
  transform:translateY(50%);
    display:flex;
    flex-direction: column;
    background-color:var(--deepBlue);
    height: 400px;
    width:95vw;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    opacity: 0.93;
    position: relative;
    z-index: 1;

}

.articleScrollBarText{
  color: var(--deepGold);
  text-align: left;
  margin-left: 80px;
  font-size: 20px;
  letter-spacing: 0.2em;
  justify-self: baseline;
  margin-right: 1010px;
}

.articleScrollBarImgs {
  display:flex;
  flex-direction:row;
  
  width: 92vw;
  gap:5px;
}

.image-wrapper {
  transition: transform 0.5s ease; 
  display:flex;
  flex-direction:row;
  overflow:hidden;
  position: relative;
}
.image-wrapper img{
  width: 100%; 
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding-inline:10px;
  border-radius:12px;
  
}

.articleScrollBarImgs p{
  width:200px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
  text-align: center;
}

.articleScrollBarImgs .scrollButton{
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: var(--deepGold);
  border-radius: 100px;
  padding:10px;
  margin: 10px;
  cursor: pointer;
  width: auto;
  height: 50px;
  z-index: 1;
  border-color: #fff;
  transform:translateY(-70%)
}
  
.articleDisplaySection{
  height:fit-content;
  width:100vw;
  position: relative;
}