:root {
  --spenceGold: #dbb132;
  --spenceBlue: #244e91
}


h1{
  background-color: var(--spenceBlue);
  height:fit-content;
  padding:20px;
}

h1 a{
  color: var(--spenceGold);
  text-decoration: none;
  text-align: center;
  font-size:xx-large;
}

.titleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid  var(--spenceGold);
}


.imageCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}